= devise_error_messages!
.title
  %h2
    ¡Identifícate en SepoPedia!
.container
  .row
    .col-sm-3.col-md-4.col-md-offset-4
    .col-sm-6.col-md-4.col-md-offset-4
      .account-wall
        #my-tab-content.tab-content
          #login.tab-pane.active
            %img.profile-img{:alt => "", :src => "https://lh5.googleusercontent.com/-b0lyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"}/
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-user-session form-signin"}) do |f|
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control"
              = f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control"
              = f.button :submit, value: "Identifícarse", class: "btn btn-lg btn-outline-primary btn-block" 
            #tabs
              %p.text-center
                = link_to "¿Todavia no tienes cuenta de usuario?", new_user_registration_path
              %p.text-center
                = link_to "¿Has olvidado o perdido la contraseña?", new_user_password_path
    .col-sm-3.col-md-4.col-md-offset-4