%nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
  %a.navbar-brand{:href => root_path} SepoPedia
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  %span.navbar-text
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %form.form-inline.my-2.my-md-0
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Buscar...", :type => "search"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Buscar

      - if user_signed_in?
        %li.nav-item{style: "margin-rigth: 10px;"}
          %span.navbar-text
            Hola 
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %strong= current_user.email
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to 'Mi perfil', edit_user_registration_path, :class => 'dropdown-item'
            = link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class => 'dropdown-item'
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
        %li.nav-item
          %span.navbar-text
            ¡Bienvenid@ de nuevo!

      - else
        %li.nav-item
          %span.navbar-text
            ¡Bienvenid@ a SepoPedia!
          %span.navbar-text
            = link_to "Identifícate", new_user_session_path, :class => 'navbar-link'
          %span.navbar-text
            o
          %span.navbar-text
            = link_to "Regístrate", new_user_registration_path, :class => 'navbar-link'